// bower:scss
// endbower
// 


.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@import "colors";
@import "breakpoints";
@import "header";
@import "tweets";

* {
  box-sizing: border-box;
}

body {
  background: $white-ee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-33;
}

.grid {
  margin: 0px auto;
  @media($desktop) {
    max-width: 700px;
  }
}

.content {
  max-width: 600px;
  margin: 0 auto;
  @media($desktop) {
    margin-top: -100px;
  }
  background-color: $white-ee;
  padding: 25px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
